.information_new {
  font-size: 20px;
  color: #432;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

h2 {
  font: bold;
  font-size: 30px;
}

.form {
  font-size: 16px;
  width: 100%;
}
/* .form-text {
  height: 80px;
} */

.form-btn {
  width: 66%;
  background-color: orange;
  color: white;
  margin: 0 auto;
  display: block;
}
.title {
  height: 30px;
  margin-bottom: 50px;
}

.category {
  height: 80px;
}

.image {
  height: 100px;
}

.text {
  height: 80px;
  resize: none;
  margin-bottom: 100px;
}
