.information_new {
  font-size: 20px;
  color: #432;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  height: 30px;
  width: 300px;
  margin-bottom: 50px;
}

.category {
  height: 80px;
  width: 300px;
}

.image {
  height: 100px;
  width: 400px;
}

.subtitle {
  height: 80px;
  width: 400px;
}

.text {
  height: 80px;
  width: 400px;
  resize: none;
  margin-bottom: 20px;
}

.btn {
  width: 200px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  justify-content: center;
}
