/* 情報詳細画面 */

.info-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.info-box {
  background-color: #fff;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box > .name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.info-show-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  object-fit: contain;
}

.info-show-category {
  margin: 10px auto 20px;
}

.info-show-text {
  white-space: pre-wrap;
}

.favorite-btn {
  font-size: 45px;
}

.info-edit {
  text-align: center;
  background-color: orange;
  font-size: 24px;
  font-weight: bold;
  color: #432;
  margin: 20px 0px;
  width: 230px;
  height: 70px;
  line-height: 70px;
}

.or-text {
  font-size: 20px;
}

.info-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px 0px 30px;
  width: 230px;
  height: 70px;
  line-height: 70px;
}

.favorite {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.share {
  display: flex;
  justify-content: space-around;
}
.share-btn {
  text-align: center;
  width: 100px;
  border-radius: 10px;
  background-color: crimson;
  color: aliceblue;
  margin: 30px;
}

.unshare-btn {
  text-align: center;
  width: 100px;
  border-radius: 10px;
  background-color: gray;
  color: #432;
  margin: 30px;
}
