<h1>記事一覧</h1>
<%= link_to "投稿する", root_path, class:"post" %>

<% @informations.each do |information| %>
  <div class="user_show">
    <div class="information-category">
      <%= information.category.name %>
    </div>
    <div class="information-title">
      <%= information.title %>
    </div>
    <div class="information-text">
      <%= information.text %>
    </div>
  </div>
<% end %>
