<div class='main'>

  <%# 画面上部の「IDOBATAのコンセプト」記述部分 %>
  <div class='title-contents'>
    <h1 class='service-title'>
      インターネットでも見つからない情報共有アプリ
    </h1>
    <p class='service-explain'>
      近所の病院・パン屋さん・学習塾・かわいい雑貨屋さん・保育園・美容院…実際のところどうなの？という情報
    </p>
    <p class='service-explain'>
      そんな知りたい情報をともだちと共有できるアプリです
    </p>
  </div>
  <%# /画面上部の「IDOBATAのコンセプト」記述部分  %>
</div>